$primary-color: white;
$secondary-color: #b8b8ff;
$bg-color: #0d1116;
$label-bg-color: #ffeedd;
$link-hover-color: #db5a42;

$primary-color-light: black;
$secondary-color-light: #6453c4;

:root {
  --primary-color-light: black;
  --nav-link-hover-color: #ccc;
}
